main {
    max-width : 1500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    background-color: #080808;
    font-size: 12pt;
}

.bg-black {
    background-color: #080808;
}

.footer {   
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    line-height: 150px; /* Vertically center the text there */
}

body {
    padding-top: 50px;
    background: lightgrey;
    color: black;
    /* Margin bottom by footer height */
    margin-bottom: 180px;  
}

.bg-element {
    background-color: white;
  } 

.footer-element {
    line-height: 150px; /* Vertically center the text there */
}

.footer-text {
    color: rgb(255, 255, 255);
    font-size: 10pt;
    height: 20px;
    margin: 5px;
}

.footer-newsletter {
    color: rgb(255, 255, 255);
    font-size: 10pt;
}

.page-element {
    border-radius: 25px;
    padding: 10px;
}

.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

.brand-img {
    height: 60px;
    width: auto;
    border-radius: 0%;
    margin-left: 10px;
}

.footer-img {
    height: 100px;
    width: auto;
    border-radius: 0%;
    margin-left: 10px;
}

